﻿@model s1072805.ViewModel.BMIData
@{
    ViewBag.Title = "Index";
}

<h2>BMI計算</h2>
<p>BMI=體重(kg)/身高*身高(m)</p>
<form action="/BMI/Index" method="post">
    @Html.DisplayNameFor(m => m.height) : @Html.TextBoxFor(m => m.height) 公分 @Html.ValidationMessageFor(modelItem => @Model.height)<br />
    @Html.DisplayNameFor(k => k.weight) : @Html.TextBoxFor(k => k.weight) 公斤 @Html.ValidationMessageFor(modelItem => @Model.weight)<br />
    <p><input type="submit" name="button" value="送出" /></p>
    <p>計算結果 :@Model.Result </p>
    <p>等級 :@Model.Level </p>
</form>