﻿
@{
    ViewBag.Title = "HtmlHelper";
}

<h2>HtmlHelper</h2>
<p>姓名:@Html.TextBox("text", "")</p>
<p>帳號:@Html.TextBox("text", "")</p>
<p>密碼:@Html.Password("password", "")</p>
<p>性別:@Html.RadioButton("gender", "0")男性
@Html.RadioButton("gender", "1")女性</p>
<p>興趣:@Html.CheckBox("item", false)游泳
@Html.CheckBox("item", false)閱讀
@Html.CheckBox("item", false)電影</p>
自我介紹:@Html.TextArea("message","")

@*<p>姓名:<input type="text" name="name" value=""></p>
    <p>帳號:<input type="text" name="count" value=""></p>
    <p>密碼:<input type="password" name="password" value=""></p>
    <p>
        性別:<input type="radio" name="gender" value="A">男性
        <input type="radio" name="gender" value="B">女性<br />
    </p>
    <p>
        興趣:<input type="checkbox" name="item" value="A">游泳
        <input type="checkbox" name="item" value="A">閱讀
        <input type="checkbox" name="item" value="A">電影<br />
    </p>
    <p>自我介紹:<textarea name="message" rows="2" cols="15"></textarea></p>

    <button type="submit" value="subit">提交</button>*@



