﻿
@{
    ViewBag.Title = "Razor";
}

<h2>Razor</h2>

@{ 
    var success = true;

}

@if (success == true) {
    <p>成功</p>
 } else {
    <p>失敗</p>
 }

@for (int i = 1; i < 11; i++)
{
    <p>i = @i</p>
}

@{ 
      <p>=>3+5=@(3+5)</p> 
}

@{ 
    string[] fruits = { "蘋果", "香蕉", "荔枝", "鳳梨", "西瓜" };
}

<br>
<ol>
    @foreach (var item in fruits)
    {
       
            <li>@item</li>
   
    }
</ol>